<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xsi:schemaLocation="http://www.springframework.org/schema/beans 
           http://www.springframework.org/schema/beans/spring-beans-3.2.xsd
           http://www.springframework.org/schema/context
           http://www.springframework.org/schema/context/spring-context-3.2.xsd">
               
    <context:annotation-config/>

	<context:component-scan base-package="com.koshti.intraday" />

	<bean id="dataSource" class="org.apache.commons.dbcp2.BasicDataSource">
		<property name="driverClassName" value="org.postgresql.Driver"/>
		<property name="url" value="jdbc:postgresql://localhost:5432/postgres"/>
		<property name="username" value="postgres"/>
		<property name="password" value="tuesday2"/>
		<property name="initialSize" value="2" />
		<property name="maxTotal" value="5" />
	</bean>
	
	<bean id="jdbcDaoImpl" class="com.koshti.intraday.dao.JdbcDaoImpl">
		<property name="dataSource" ref="dataSource" />
	</bean>

	<bean id="sessionFactory" class="org.springframework.orm.hibernate4.LocalSessionFactoryBean">
		<property name="dataSource" ref="dataSource" />
		<property name="packagesToScan" value="com.koshti.intraday.model" />
		<property name="hibernateProperties">
			<props>
				<prop key="dialect">org.hibernate.dialect.ProgreSQLDialect</prop>
			</props>
		</property>
	</bean>
	
</beans>